.loginForm {
  display: block;
  margin: auto;
  margin-top: 5vh;
  padding-top: 50px;
  background-color: white;
  width: 90vw;
  height: 75vh;
  border-radius: 0px;
  box-shadow: 0 0 150px black;
  
}

.authContainer {
  background-color: rgb(8, 66, 78);
  padding-bottom: 30px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding-top: 30px;
  margin-top: 10vh;
}

.information {
  width: 80vw;
  height: 15vh;
  margin: auto;
  border: 5px solid rgba(108, 11, 11, 0.65);
  border-radius: 50px;
  background: rgba(229, 8, 8, 0.387);
  padding-left: 25px;
}

p#info {
  font-size: 18px;
  font-weight: bolder;
}

.AuthForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 35vw;
  height: 45vh;
  border: 5px solid black;
  border-radius: 50px;
  box-shadow: 0px 10px 20px black;
  background-color: rgba(48, 47, 47);
}

input#email, input#password, button#Login {
  /*Co-joined styling*/
  display: flex;
  margin-bottom: 10%;
} 

input#email, input#password {
  width: 250px;
  height: 25%;
  font-weight: bold;
  font-size: 16px;
  background-color: rgba(27, 27, 27, 0.395);
  border: 5px solid black;
  padding-left: 20px;
  border-radius: 25px;
}

button#Login {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(1, 207, 248, 0.468);
  border: 5px solid black;  
  height: 40%;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 24px;

}